<div class="px-4 py-5 my-5 hero text-center">
    <img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">Lyn Woz</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Is a music producer based in Nantes France. He defines his music as Electronica, minimal, tech house and deep house.
        Discover his productions here or make a track request.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div>
    </div>
</div>
<div class="b-divider"></div>